body {
	margin: 0px;
}

div { 
	position:absolute; 
	margin:0px; 
	padding:0px;
}

.bannerSize {
	width:300px; 
	height:250px; 
}

#viewport { 
	overflow:hidden;
    background-color: #FFFFFF;
    position: relative;
    margin: 0 auto;
}

#border { 
	position: absolute;
	pointer-events: none;
    left: 0px;
    top: 0px;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid #000000;
}

#clickable { 
	position: absolute;
    left: 0px;
    top: 0px;
	background-color: white;
	opacity: 0;
}


#cta {
	background: url(images/cta.png) no-repeat;
	background-size: contain;
	overflow: hidden;
	width: 100px;
	height: 27px;
	right: 22px;
	bottom: 12px;
}
#sheen {
	background: url(images/sheen.png) no-repeat;
	background-size: contain;
	width: 79px;
	height: 58px;
	top:-5px;
	left:-112px;
}

#bg {
	background: url(images/bg.jpg) no-repeat;
	background-size: contain;
}


#vehicle {
	background: url(images/vehicle.png) no-repeat;
	background-size: contain;
}


#frame {
	/*background: url(images/frame.png) no-repeat;*/
	background-size: contain;
}
#logo {
	background: url(images/logo.png) no-repeat;
	background-size: contain;
}
#photo1 {
	/*background: url(images/photo1.jpg) no-repeat;*/
	background-size: contain;
}
#photo2 {
	/*background: url(images/photo2.jpg) no-repeat;*/
	background-size: contain;
}
#photo3 {
	/*background: url(images/photo3.jpg) no-repeat;*/
	background-size: contain;
}
#photo4 {
	/*background: url(images/photo4.jpg) no-repeat;*/
	background-size: contain;
}
#photoff {
	/*background: url(images/photoff.jpg) no-repeat;*/
	background-size: contain;
}
#text1a {
	background: url(images/text1a.png) no-repeat;
	background-size: contain;
}
#text1b {
	background: url(images/text1b.png) no-repeat;
	background-size: contain;
}
#text2a {
	background: url(images/text2a.png) no-repeat;
	background-size: contain;
}
#text2b {
	background: url(images/text2b.png) no-repeat;
	background-size: contain;
}
#text3a {
	background: url(images/text3a.png) no-repeat;
	background-size: contain;
}
#text3b {
	background: url(images/text3b.png) no-repeat;
	background-size: contain;
}
#text4a {
	background: url(images/text4a.png) no-repeat;
	background-size: contain;
}
#text4b {
	background: url(images/text4b.png) no-repeat;
	background-size: contain;
}
#textffa {
	background: url(images/textffa.png) no-repeat;
	background-size: contain;
}
#textffb {
	background: url(images/textffb.png) no-repeat;
	background-size: contain;
}